<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sg870</string>
	<string>sgSaiga</string>
	<string>sgUSAS</string>
	<string>sgDAO</string>
	<string>sgM1014</string>
	<string>arM16</string>
	<string>arM416</string>
	<string>arF2</string>
	<string>arAEK</string>
	<string>arAK74</string>
	<string>arAN94</string>
	<string>smVAL</string>
	<string>arG3</string>
	<string>arKH</string>
	<string>pM9</string>
	<string>pMP443</string>
	<string>pM93R</string>
	<string>pM1911</string>
	<string>pG17</string>
	<string>pg18</string>
	<string>pM412</string>
	<string>pTAUR</string>
	<string>wLATRPG</string>
	<string>wLATSMAW</string>
	<string>wLATJAV</string>
	<string>wLAAFIM</string>
	<string>wLAAIGL</string>
	<string>mgM27</string>
	<string>mgRPK</string>
	<string>mgM249</string>
	<string>mgM420</string>
	<string>mgM60</string>
	<string>mgPech</string>
	<string>mgT88</string>
	<string>caM4</string>
	<string>caSCAR</string>
	<string>caG36</string>
	<string>caSG553</string>
	<string>smP90</string>
	<string>smMP7</string>
	<string>smPP2000</string>
	<string>smPDR</string>
	<string>caA91</string>
	<string>srMK11</string>
	<string>srSVD</string>
	<string>srM40</string>
	<string>srSV98</string>
	<string>srM98</string>
	<string>srM39</string>
	<string>srSKS</string>
	<string>arFAMAS</string>
	<string>arL85A2</string>
	<string>caHK53</string>
	<string>caQBZ95B</string>
	<string>mgQBB95</string>
	<string>mgMG36</string>
	<string>srQBU88</string>
	<string>srL96</string>
	<string>smPP19</string>
	<string>sgJackH</string>
</array>
</plist>
