<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Operation Métro</string>
	<string>Caspian Border</string>
	<string>Operation Firestorm</string>
	<string>Grand Bazaar</string>
	<string>Damavand Peak</string>
	<string>Tehran Highway</string>
	<string>Kharg Island</string>
	<string>Seine Crossing</string>
	<string>Noshahr Canals</string>
	<string>Gulf of Oman</string>
	<string>Sharqi Peninsula</string>
	<string>Strike at Karkand</string>
	<string>Wake Island</string>
</array>
</plist>
